<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>多源遥感协同叶绿素浓度监测系统</title>

    <!-- 使用CDN直接引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- 引入外部的css样式 -->
    <link rel="stylesheet" href="./css/user.css">

    <!-- 引入element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- 使用CDN直接引入Axios组件库 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
    <div id="app">
        <el-container>
            <el-header style="height: 70px;">多源遥感协同叶绿素浓度监测系统</el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu default-active="1" class="el-menu-vertical-demo" @select="handleSelect">
                        <el-menu-item index="1" style="display: flex; align-items: center;">
                            <i class="el-icon-crop"></i>
                            <span slot="title">随机森林算法预测</span>
                        </el-menu-item>
                        <el-menu-item index="2" style="display: flex; align-items: center;">
                            <i class="el-icon-menu"></i>
                            <span slot="title">卫星数据处理</span>
                        </el-menu-item>
                        <el-menu-item index="3" style="display: flex; align-items: center;">
                            <i class="el-icon-document"></i>
                            <span slot="title">无人机数据处理</span>
                        </el-menu-item>
                        <el-menu-item index="4" style="display: flex; align-items: center;">
                            <i class="el-icon-ship"></i>
                            <span slot="title">ASD地物波谱仪监测</span>
                        </el-menu-item>
                        <el-menu-item index="5" style="display: flex; align-items: center;">
                            <i class="el-icon-location"></i>
                            <span slot="title">实测数据显示</span>
                        </el-menu-item>
                        <el-menu-item index="6" style="display: flex; align-items: center;">
                            <i class="el-icon-user-solid"></i>
                            <span slot="title">个人信息</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>

                <!-- 不同功能，选择不同界面 -->
                <el-container>
                    <el-main>
                        <!-- 随机森林算法：结合模态框输入一个类ChlorophyllPrediction给后端，返回叶绿素浓度（还需要一个数据用于训练模型） -->
                        <div v-if="activeIndex === '1'">
                            <h3>随机森林算法</h3>
                        </div>

                        <!-- 卫星数据处理：镶嵌GEE网页  -->
                        <div v-if="activeIndex === '2'">
                            <h3>卫星数据处理</h3>
                        </div>

                        <!-- 无人机数据处理：简单tif图片处理 -->
                        <div v-if="activeIndex === '3'">
                            <h3>无人机数据处理</h3>
                        </div>

                        <!-- ASD地物波谱仪监测：读入txt文件，读取相关波段计算叶绿素浓度 -->
                        <div v-if="activeIndex === '4'">
                            <h3>ASD地物波谱仪监测</h3>
                        </div>

                        <!-- 实测数据显示：输入经纬度，显示该点叶绿素浓度 -->
                        <div v-if="activeIndex === '5'">
                            <h3>实测数据显示</h3>
                        </div>

                        <!-- 个人信息：个人信息修改，包括密码（模态框，调用update接口）；打开时自动获取个人信息显示-->
                        <div v-if="activeIndex === '6'">
                            <el-form :model="userInfo" ref="userInfo"  :rules="rules" label-width="120px" label-position="right"
                                size="mini" style="margin-left: 20px; display: flex; flex-wrap: wrap;">
                                <el-row :gutter="20" style="width: 100%;">
                                    <!-- 左列 -->
                                    <el-col :span="12">
                                        <el-form-item label="账号：" style="width: 90%;" prop="no">
                                            <el-input v-model="userInfo.no" :disabled="true" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="姓名：" style="width: 90%;" prop="name">
                                            <el-input v-model="userInfo.name" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="性别：" style="width: 90%;" prop="gender">
                                            <el-select v-model="userInfo.gender" placeholder="请选择性别"
                                                style="width: 100%;">
                                                <el-option label="男" value="男"></el-option>
                                                <el-option label="女" value="女"></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="出生日期：" style="width: 90%;" prop="birthday">
                                            <el-date-picker style="width: 100%;" value-format="yyyy-MM-dd" type="date"
                                                v-model="userInfo.birthday" placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                        <el-form-item label="职业领域：" style="width: 90%;" prop="career">
                                            <el-input v-model="userInfo.career" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <!-- 右列 -->
                                    <el-col :span="12">
                                        <el-form-item label="电话：" style="width: 90%;" prop="mobile">
                                            <el-input v-model="userInfo.mobile" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="邮箱：" style="width: 90%;" prop="email">
                                            <el-input v-model="userInfo.email" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="密码：" style="width: 90%;" prop="password">
                                            <el-input v-model="userInfo.password" suffix-icon="el-icon-edit"
                                                type="password"></el-input>
                                        </el-form-item>
                                        <el-form-item label="地区：" style="width: 90%;" prop="address">
                                            <el-input v-model="userInfo.address" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>

                            <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="updateUser">修改个人信息</el-button>
                            </span>
                        </div>

                    </el-main>
                    <el-footer style="height: 20px;">版权所有：LiChengYang | 2025-2-10</el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>

</body>

</html>

<!-- 引入Vue代码 -->
<script src="./js/user.js">

</script>