<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>多源遥感协同叶绿素浓度监测系统</title>

    <!-- 使用CDN直接引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- 引入外部的css样式 -->
    <link rel="stylesheet" href="./css/user.css">

    <!-- 引入element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- 使用CDN直接引入Axios组件库 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .icon {
            width: 1000px;
            height: 490px;
            background-image: url('./image/earth.jpg');
            background-repeat: no - repeat;
            background-position: center center;
            margin-top: 50px;
            margin-left: 200px;
        }

        .gee {
            margin-top: 80px;
            margin-left: 10px;
            color: blue;
            font-size: 25px;
        }

        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>



</head>

<body>
    <div id="app">
        <el-container>
            <el-header style="height: 70px;">多源遥感协同叶绿素浓度监测系统</el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu default-active="1" class="el-menu-vertical-demo" @select="handleSelect">
                        <el-menu-item index="1" style="display: flex; align-items: center;">
                            <i class="el-icon-crop"></i>
                            <span slot="title">随机森林算法预测</span>
                        </el-menu-item>
                        <el-menu-item index="2" style="display: flex; align-items: center;">
                            <i class="el-icon-menu"></i>
                            <span slot="title">卫星数据处理</span>
                        </el-menu-item>
                        <el-menu-item index="3" style="display: flex; align-items: center;">
                            <i class="el-icon-document"></i>
                            <span slot="title">无人机多光谱数据处理</span>
                        </el-menu-item>
                        <el-menu-item index="4" style="display: flex; align-items: center;">
                            <i class="el-icon-ship"></i>
                            <span slot="title">ASD地物波谱仪监测</span>
                        </el-menu-item>
                        <el-menu-item index="5" style="display: flex; align-items: center;">
                            <i class="el-icon-user-solid"></i>
                            <span slot="title">个人信息</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>

                <!-- 不同功能，选择不同界面 -->
                <el-container>
                    <el-main>
                        <!-- 随机森林算法：结合模态框输入一个类chl_pre给后端，返回叶绿素浓度 -->
                        <div v-if="activeIndex === '1'">
                            <h3>基于高阳平湖浮漂在线监测数据</h3>

                            <el-form :model="chlPreInfo" ref="chlPreInfo" :rules="roles_chl" label-width="200px"
                                label-position="right" size="mini"
                                style="margin-left: 20px; display: flex; flex-wrap: wrap;">
                                <el-row :gutter="20" style="width: 100%;">
                                    <!-- 左列 -->
                                    <el-col :span="12">
                                        <el-form-item label="气压高度(mbar)：" style="width: 90%;" prop="BARO_Avg">
                                            <el-input v-model="chlPreInfo.BARO_Avg"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Ph值：" style="width: 90%;" prop="pH_Avg">
                                            <el-input v-model="chlPreInfo.pH_Avg" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="总溶解固体(mg/L)：" style="width: 90%;" prop="TDS_Avg">
                                            <el-input v-model="chlPreInfo.TDS_Avg"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="空气压力(hPa)：" style="width: 90%;" prop="Airmar_Pressure">
                                            <el-input v-model="chlPreInfo.Airmar_Pressure"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="空气湿度：" style="width: 90%;" prop="Airmar_Humidity">
                                            <el-input v-model="chlPreInfo.Airmar_Humidity"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <!-- 右列 --> 
                                    <el-col :span="12">
                                        <el-form-item label="摄氏温度：" style="width: 90%;" prop="Temp_Avg">
                                            <el-input v-model="chlPreInfo.Temp_Avg"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="电导率(uS/cm)：" style="width: 90%;" prop="Cond_Avg">
                                            <el-input v-model="chlPreInfo.Cond_Avg"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="溶解氧饱和度：" style="width: 90%;" prop="DO_Sat_Avg">
                                            <el-input v-model="chlPreInfo.DO_Sat_Avg"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="空气温度：" style="width: 90%;" prop="Airmar_Temperature">
                                            <el-input v-model="chlPreInfo.Airmar_Temperature"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="风速：" style="width: 90%;" prop="Airmar_WindSpeed">
                                            <el-input v-model="chlPreInfo.Airmar_WindSpeed"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>

                            <span>
                                <el-button type="primary" @click="chlPredict">chl预测 </el-button>
                                <input type="text" style="height: 30px;" v-model="chl" /> ppb
                            </span>
                        </div>

                        <!-- 卫星数据处理：镶嵌GEE网页  -->
                        <div v-if="activeIndex === '2'" class="icon">
                            <a href="https://code.earthengine.google.com/">
                                <h3 class="gee">Google Earth Engine</h3>
                            </a>

                        </div>

                        <!-- 无人机数据处理：简单tif图片处理 -->
                        <div v-if="activeIndex === '3'" >
                            <span style="margin-left: 10px;">上传TIFF影像数据</span>
                            <el-upload class="avatar-uploader" :show-file-list="false" :http-request="uploadTiffPost"
                            :before-upload="beforeTiffUpload"
                                style="margin-left: 10px; ">
                                <img v-if="tifInfo.tif" :src="tifInfo.tifUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>



                            <div style="margin-top: 20px; ">
                                <el-button type="primary" @click="getTiffInfo" style="margin-bottom: 10px;">获取TIFF影像基本信息</el-button>
                                <el-button type="primary" @click="divideTiff" style="margin-bottom: 10px;">拆分多波段TIFF影像</el-button>
                                <el-button type="primary" @click="mergeTiff" style="margin-bottom: 10px;">合成多波段TIFF影像</el-button>
                            </div>

                        </div>

                        <!-- ASD地物波谱仪监测：读入txt文件，读取相关波段计算叶绿素浓度 -->
                        <div v-if="activeIndex === '4'">
                            <input type="file" @change="handleFileSelectTxt" accept=".txt">

                            <el-form label-width="200px" :model="AsdInfo" label-position="right" ref="AsdInfo"
                                style="margin-left: 20px; display: flex; flex-wrap: wrap;">
                                <el-row :gutter="20" style="width: 100%;">
                                    <!-- 左列 -->
                                    <el-col :span="12">
                                        <el-form-item label="蓝色波段B2：" style="width: 90%;" prop="B2">
                                            <el-input v-model="AsdInfo.B2" :disabled="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="红色波段B4：" style="width: 90%;" prop="B4">
                                            <el-input v-model="AsdInfo.B4" :disabled="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="B4/B3：" style="width: 90%;" prop="B4_B3">
                                            <el-input v-model="AsdInfo.B4_B3" :disabled="true"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <!-- 右列 -->
                                    <el-col :span="12">
                                        <el-form-item label="绿色波段B3：" style="width: 90%;" prop="B3">
                                            <el-input v-model="AsdInfo.B3" :disabled="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="近红外波段NIR：" style="width: 90%;" prop="NIR">
                                            <el-input v-model="AsdInfo.NIR" :disabled="true"></el-input>
                                        </el-form-item>
                                        <el-form-item label="归一化水体指数NDWI：" style="width: 90%;" prop="NDWI">
                                            <el-input v-model="AsdInfo.NDWI" :disabled="true"></el-input>
                                    </el-col>


                            </el-form>

                        </div>

                        <!-- 个人信息：个人信息修改，包括密码（模态框，调用update接口）；打开时自动获取个人信息显示-->
                        <div v-if="activeIndex === '5'">
                            <el-form :model="userInfo" ref="userInfo" :rules="rules" label-width="120px"
                                label-position="right" size="mini"
                                style="margin-left: 20px; display: flex; flex-wrap: wrap;">
                                <el-row :gutter="20" style="width: 100%;">
                                    <!-- 左列 -->
                                    <el-col :span="12">
                                        <el-form-item label="账号：" style="width: 90%;" prop="no">
                                            <el-input v-model="userInfo.no" :disabled="true"
                                                suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="姓名：" style="width: 90%;" prop="name">
                                            <el-input v-model="userInfo.name" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="性别：" style="width: 90%;" prop="gender">
                                            <el-select v-model="userInfo.gender" placeholder="请选择性别"
                                                style="width: 100%;">
                                                <el-option label="男" value="男"></el-option>
                                                <el-option label="女" value="女"></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="出生日期：" style="width: 90%;" prop="birthday">
                                            <el-date-picker style="width: 100%;" value-format="yyyy-MM-dd" type="date"
                                                v-model="userInfo.birthday" placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                        <el-form-item label="职业领域：" style="width: 90%;" prop="career">
                                            <el-input v-model="userInfo.career" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <!-- 右列 -->
                                    <el-col :span="12">
                                        <el-form-item label="电话：" style="width: 90%;" prop="mobile">
                                            <el-input v-model="userInfo.mobile" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="邮箱：" style="width: 90%;" prop="email">
                                            <el-input v-model="userInfo.email" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                        <el-form-item label="密码：" style="width: 90%;" prop="password">
                                            <el-input v-model="userInfo.password" suffix-icon="el-icon-edit"
                                                type="password"></el-input>
                                        </el-form-item>
                                        <el-form-item label="地区：" style="width: 90%;" prop="address">
                                            <el-input v-model="userInfo.address" suffix-icon="el-icon-edit"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>

                            <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="updateUser">修改个人信息</el-button>
                            </span>
                        </div>

                    </el-main>
                    <el-footer style="height: 20px;">版权所有：LiChengYang | 2025-2-10</el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>

</body>

</html>

<!-- 引入Vue代码 -->
<script src="./js/user.js">

</script>